.app-root {
  position: relative;
  z-index: 0;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-stopped {
  overflow: clip;
}

body {
  background: #151517;
}

a{
  text-decoration: none;
}